:root {
  --footerHeight: 120px;
}

.footer {
  width: 85%;
  height: var(--footerHeight);
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 15%;
}

.image {
  width: 300px;
  height: 100%;
  background: url('../../../static/plant.png') center/contain no-repeat var(--yellow);
  border-top-left-radius: 20px;
}

.content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  background: var(--dark-blue);
  color: var(--white);
}

.socialMediaBar {
  right: 30px;
  height: 175px;
  position: absolute;
  bottom: calc(var(--footerHeight) + 170px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facebook,
.instagram,
.twitter {
  width: 35px;
  height: 35px;
  display: block;
}

.facebook {
  background: url('../../../static/facebook.svg') center/cover no-repeat;
}

.instagram {
  background: url('../../../static/inst.svg') center/cover no-repeat;
}

.twitter {
  background: url('../../../static/twitter.svg') center/cover no-repeat;
}

.line {
  position: absolute;
  left: -60px;
  top: 295px;
  width: 150px;
  transform: rotate(90deg);
  border: 2px solid var(--dark-blue);
}
