@import '../../styles/variables.css';

.header {
  width: var(--main-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}

.navBarList {
  display: flex;
}

.navBarItem {
  padding: 0 20px;
}
