@import '../../styles/variables.css';

.footer {
  width: var(--main-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.iconItem {
  width: 30px;
  padding: 0 10px;
}

.copyright {
  font-size: var(--small-text);
}
